# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\#\Libraries\Documents\#\Studia PSk\Sem IV\Java\Pro\Tasks planner\TasksPlanner\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
